@model UpdatedEmployeeDto

@{
    ViewData["Title"] = "Edit";
}
<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4">Edit Employee</h1>
    <form asp-action="Edit" class="row col-6" enctype="multipart/form-data">
    <partial name="Partials/CreateEditEmployeePartial" />
    <div class="form-group col-6">
        <label class="form-label" asp-for="Image"></label>
        <input asp-for="Image" class="form-control mb-3" />
    </div>
    <partial name="Partials/SecondPartCreateEditPartialView" />
    </form>
</div>
@section ValidationScribts
{
    <partial name="_ValidationScriptsPartial" />
}